.container {
  min-height: calc(100vh - 5.375rem);
}

.button {
  width: 11rem;
  height: 2.5rem;
  color: #5b4947;
  text-transform: none !important;
  text-decoration: none !important;
}

.button-outline {
  border: 1px solid #5b4947;
}

.button-filled {
  background-color: #fabc1d;
}

.button-filled:hover {
  background: #fabc1d;
}

.mud-input-control-input-container
  > .mud-input.mud-input-outlined
  > input:focus
  ~ .mud-input-outlined-border {
  border-color: #5b4947 !important;
}
